<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
      <div class="ion-justify-content-center" style="display: flex;">
      <ion-img src="assets/img/login.png" style="width: 250px; height: 250px; margin-bottom: 20px;"></ion-img>
    </div>
    
    <form>
      <ion-title>Ingrese sus credenciales</ion-title>

      <div style="margin-bottom: 15px;">

        <ion-input type="mail" placeholder="Correo" ></ion-input>
  
        <ion-input type="Password" placeholder="Contraseña" ></ion-input>  
  
      </div>
      
      <div>
        <ion-button type="submit">
          Iniciar Sesión
        </ion-button>
        <ion-button [routerLink] ="['/register']">
          Registrarse
        </ion-button>
      </div>
      
      <ion-button  [routerLink] ="['/reset-password']">
        ¿Olvidó su contraseña? 😨
      </ion-button>
    </form>        
  </div>
</ion-content>